.header{
  display : flex;
  flex-direction : row;
  justify-content: flex-start;
  background: linear-gradient(to left, #05a4ff 0%, #0043C7 202.89%);
  padding : 5%;
  position: fixed;
  top : 0 ;
  right : 0; 
  left : 0;
  z-index : 1;
}
button { 
  font-family : Poppins;
  color : white;
  font-size : 12px;
}
@media screen and (min-width : 600px) {
  .header{
    padding : 2%;
  }
}