@font-face {
    font-family: Poppins-Bold;
    src: url('../../assets/fonts/Poppins-Bold.ttf')
}

@font-face {
    font-family: Poppins;
    src: url('../../assets/fonts/Poppins-Regular.ttf')
}

@font-face {
    font-family: inter;
    src: url('../../assets/fonts/Inter-Regular.ttf')
}

.caption--container {
    display: flex;
    flex-direction: column;
    margin-top: 20%;
    margin-left: 5%;
}

.title {
    font-size: 20px;
    font-family: Poppins-Bold;
    text-align: center;
    color: white;

}

.caption {
    font-size: 10px;
    font-family: Poppins;
    text-align: center;
    color: white;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    background: linear-gradient(to left, #05a4ff 0%, #0043C7 202.89%);
    height: 40%;
}

img {
    margin-top: 50%;
    width: 400px;
    height: 400px;
    transform: scaleX(-1);
}

.projects--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.projects--container h3 {
    font-family: Poppins-Bold;
    font-size: 20px;
    color: #176ae5;
}

.container {
    position: relative;
    --size-button: 40px;
    color: white;
}

.image {
    border: 2px solid red;
    width: inhert;
    height: auto;
}

input{ 
    border-radius: 40px;
    font-size : 10px;
    border : none;
    color : white;
    background: linear-gradient(to left, #05a4ff 0%, #0043C7 202.89%);
    padding : 5px;
    padding-left : 10px;
    width : 7rem;
}

input:focus{
    outline: none;
}

