.container {
  margin-top : 7%;
  width : 100%;
  display : flex;
  flex-direction : row-reverse;
  gap : 10px;
  height: auto;
  justify-content: center;
}
.form-container{
  width : 50%;
  padding : 5%;
}
.img-container{
  width : 50%;
}
.caption--container{
  display : flex;
  flex-direction : row;
  font-family: Poppins-Bold , serif;
}

.input-container{
  display: flex;
  flex-direction : column-reverse;
  font-family: Poppins, serif;
}

.input-container label{
  font-family : Poppins-Bold, serif;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 20px
}

.message{
  height : 100px;
}

input {
  padding : 5px;
}

input:focus {
  outline : none;
}

button {
  border : none;
  background-color : #05a4ff;
  font-family: Poppins , serif;
  color : white;
  padding : 5px;
  border-radius : 2px;
  font-size : 15px;
}
button:hover{
  background-color : #56c1ff;
}

.img-container img{
  width : 55%;
  height : auto;

}

.img-container{
  display : flex;
  flex-direction: row;
  justify-content: center;
}

.caption--container{
  margin-bottom: 10%;
}

.socials{
  display : flex;
  flex-direction: row;
  gap : 50px;
  justify-content: center;
  margin-bottom : 2%;
}
a{
  transition : all ease 0.15s
}
a:hover{
  transform : scale(1.1);
  transition : all ease 0.15s
}

.caption--container span{
  color : #05a4ff;
}

.endCaption{
  color: #48649B;
  font-size: 10px;
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

@media screen and (max-width : 600px) {
  .container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top : 15%;
  }
  .form-container{
    width: 100%;
  }
  .img-container{
    width: 100%;
  }

}

