.container {
    padding: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

p {
    color: #48649B;
    text-align: center;
    font-family: Poppins;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.title {
    color: #176AE5;
    font-family: Poppins;
    font-size: 50px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 20%, 0;
}

.btn {
    border-radius: 65px;
    background: #05A4FF;
    width: 438px;
    height: 104px;
    border: none;
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Poppins;
    font-size: 37px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 20% 0;
    cursor: pointer;
    transition: all 0.15s ease-out;
}

.btn:hover {
    transform: scale(0.97);
    transition: transform 0.15s ease-out;
}

.number {
    font-family: Poppins;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background: linear-gradient(180deg, #05A4FF 0%, #0043C7 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;

}

.Projects,
.Certifications,
.Problems {
    color: #48649B;
    font-family: Poppins;
    font-size: 30px;
    font-style: normal;
    line-height: normal;
    margin: 0;
}

.element_container {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.statsContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin-left: 0.25%;
}
.subelement_container{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}