<div class="container">
    <div class="title">About Me</div>
    <div class="subtitle_container">
        <p>
            Software engineering student at Polytech Nice Sophia, France, with a passion for development and cloud
            technologies. <br>
            Proudly Lebanese, driven to innovate and create in the ever-evolving tech landscape. <br>
            Oh and, I also love art.
        </p>
    </div>
    <div class="button_container">
        <button class="btn">
            Download Resume
        </button>
    </div>
    <div class="statsContainer">
        <div class="element_container">
            <div class="subelement_container">
                <h3 class="number">{{getProjects()}}</h3>
                <label class="Projects">Projects</label>
            </div>
        </div>
        <div class="element_container">
            <div class="subelement_container">
                <h3 class="number">{{getCertification()}}</h3>
                <label class="Certifications">Certifications</label>
            </div>
        </div>
        <div class="element_container">
            <div class="subelement_container">
                <h3 class="number">{{getProblems()}}</h3>
                <label class="Problems"> LeetCode </label>
            </div>
        </div>
    </div>
</div>