@font-face {
    font-family: Poppins-Bold;
    src: url('../../assets/fonts/Poppins-Bold.ttf')
}

@font-face {
    font-family: Poppins;
    src: url('../../assets/fonts/Poppins-Regular.ttf')
}

.home--container{
    margin-top : 15%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding : 20px;
    background: linear-gradient(to left, #05a4ff 0%, #0043C7 202.89%);
    height : 55%;
    margin : 0;
    gap : 5%; 
}

.welcome{
    border-radius : 15px;
    width : 120%;
    height : auto;
    margin-right : -15%;
}

.caption{
    display: flex;
    align-items : center;
    flex-direction: column;
    width : 100%;

}
.caption h3{
    font-size : 15px;
    font-family: Poppins;
    color: white;
}
.caption h4{
    font-family: Poppins;
    color: white
}
button{
    background : transparent;
    color: white;
    border: 2px solid white;
    cursor: pointer;
    padding: 10px;
    width : 150px;
    border-radius: 40px;
}

@media screen and (min-width : 600px) {
    .home--container{
        flex-direction : row;
        justify-content: space-around;
        height: 100%;
    }
    .welcome{
        width : 70% ; 
        height: auto ; 
    }
    .caption h3 {
        font-size : 30px;
    }
    .caption h4 {
        font-size : 30px;
    }
    .caption {
        align-items : flex-start;
        width : 50%;
    }
    button {
        font-size : 20px;
        transition : all ease 0.15s
    }
    button:hover{
      background-color : white;
      color : #0043C7;
      transition : all ease 0.15s
    }

}
